<div>
  <div class="pre-content" #performPrefetch>
    <button (click)="showData()">Display All Courses</button>
    <button (click)="increment()">increment</button>
    <h3>counter : {{ counterSignal() }}</h3>
    <h3>drived counter : {{ drivedCounter() }}</h3>
  </div>
  @defer(when display; prefetch on hover(performPrefetch)) {
  <div class="courses">
    @for (course of courses$ | async ; track course.id) {
    <app-course-card class="salmon-theme" [course]="course">
      <img [src]="course.iconUrl" />
      <h3 class="header-style">test pwa new version</h3>
    </app-course-card>
    } @empty {
    <span>No courses available </span>}
  </div>
  } @loading {
  <h3>spinner loading</h3>
  } @placeholder {
  <h3>spinner placeholder</h3>
  }
  <!--<button (click)="onEditCourse()">add course</button>-->
</div>
